body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.sambaads-media {
    padding: 0 10px 10px 10px;
}

#header_video_principal {
    width: 100%;
    height: 100%;
}

#logo {
    padding: 15px 0 15px 10px;
    margin: 20px 0;
    text-align: center;
}

#video_container {
    height: 100%;
}

#video_principal {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

#nome_produtor {
    font-weight: 800;
    font-size: 0.8em;
    color: black;
    padding: 0 5px 10px 5px;
}

#titulo_video_principal {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    padding: 5px 5px 0 5px;
}

#descricao_video_principal {
    font-size: 0.8em;
    text-align: justify;
    padding: 5px 5px 30px 5px;
}

#titulo_tags {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: black;
    padding: 5px;
}

.tags {
    font-size: 0.8em;
    font-weight: normal;
    text-transform: none;
    color: black;
    padding: 5px;
}

#titulo_compartilhar {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: black;
    text-align: right;
}

.social_thumbs img {
    width: 5%;
    height: 5%;
    margin: 0 3px 3px 3px;
}

@media (max-width: 430px) {
    #video_principal {
        height: 320px;
    }
}

@media (min-width: 768px) {
    #video_principal {
        height: 556px;
    }
}

@media screen and (max-width: 767px) {
    #nome_produtor {
        font-size: 0.8em;
        padding: 5px 10px 5px 10px;
    }
    #titulo_video_principal {
        font-size: 1em;
        padding: 5px 10px 5px 10px;
    }
    #descricao_video_principal {
        font-size: 0.8em;
        padding: 5px 10px 5px 10px;
    }
    #titulo_tags,
    #titulo_compartilhar {
        font-size: 1em;
        padding: 5px 10px 5px 10px;
    }
    #assista_tambem {
        font-size: 1em;
        padding: 5px 10px 5px 10px;
    }
    #footer_content {
        font-size: 0.8em;
    }
    #logo {
        margin: 0;
    }
    .social_thumbs img {
        width: 11%;
        height: 11%;
    }
    .divisor_videos {
        display: none;
    }
}

#divisor {
    margin: 40px 0;
}

#assista_tambem {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
}

.titulo_assista_tambem {
    font-size: 1em;
    color: black;
    max-width: 390px;
    padding: 0 5px;
    height: 40px;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
}

#footer {
    height: 250px;
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
}

#footer_content {
    margin-top: 100px;
}

#footer_content img {
    width: 30px;
    height: 30px;
}

#produtor_assista_tambem {
    font-size: 0.9em;
    font-weight: 800;
    color: black;
    padding: 5px;
}

.divisor_videos {
    height: 1px;
    background-color: #cccccc;
    margin-bottom: 40px;
}

.footer_links {
    text-decoration: none;
    color: white;
    margin: 0 5px;
}

.footer_links:hover {
    text-decoration: none;
    color: #cccccc;
}