<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt" dir="ltr">
<head>
    <title>YContent Player Test Playground</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--    <style type="text/css">
        iframe{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    </style>-->
</head>

<body>

    <% if(type_player == "multiple-sizes") { %>
    <p><script src='/javascripts/player.js?m=60476&p=00d24b737eb3be1f10f9af9094814c4d&sk=blue&tm=dark&tb=&tbbg=&w=320&h=180&debug=true' defer></script></p>
    <p><script src='/javascripts/player.js?m=60476&p=00d24b737eb3be1f10f9af9094814c4d&sk=blue&tm=dark&tb=&tbbg=&w=480&h=270&debug=true' defer></script></p>
    <p><script src='/javascripts/player.js?m=60474&p=00d24b737eb3be1f10f9af9094814c4d&sk=blue&tm=dark&tb=&tbbg=&w=640&h=360&debug=true' defer></script></p>
    <p><script src='/javascripts/player.js?m=60475&p=00d24b737eb3be1f10f9af9094814c4d&sk=blue&tm=dark&tb=&tbbg=&w=640&h=360&debug=true' defer></script></p>
    <p><script src='/javascripts/player.js?m=60476&p=00d24b737eb3be1f10f9af9094814c4d&sk=blue&tm=dark&tb=&tbbg=&w=640&h=360&debug=true' defer></script></p>
    <% } if(type_player == "singleplayer") { %>
    <script src='/javascripts/player.js?m=13937&p=00d24b737eb3be1f10f9af9094814c4d&sk=blue&tm=dark&tb=&tbbg=&w=640&h=360&debug=true' defer></script>
    <% } if(type_player == "small_player") { %>
    <script src='/javascripts/player.js?m=13937&p=00d24b737eb3be1f10f9af9094814c4d&sk=blue&tm=dark&tb=&tbbg=&w=400&h=300&debug=true' defer></script>
    <% } if(type_player == "playlist") { %>
    <script src='/javascripts/player.js?plid=m22lCYS6&p=e7a0e7ece4bf9e68a0656c09ce1479a0&sk=blue&tm=dark&tb=&tbbg=&w=940&h=360' defer></script>
    <% } else if(type_player == "smartplayerv") { %>
    <script src='/javascripts/player.js?c=feminino&d=360p&p=00d24b737eb3be1f10f9af9094814c4d&t=&sk=blue&tm=dark&plp=r&plw=280&plh=&tb=Teste&tbbg=&w=100%&h=360&debug=true' async></script>
    <% } else if(type_player == "smartplayerbv") { %>
    <script src='/javascripts/player.js?c=gastronomia&d=360p&p=00d24b737eb3be1f10f9af9094814c4d&t=&sk=blue&tm=dark&plp=bv&plw=&plh=260&tb=&tbbg=&w=426&h=500&debug=true' async></script>
    <% } else if(type_player == "magiccontent") { %>
    <script src='/javascripts/player.js?c=&d=360p&p=00d24b737eb3be1f10f9af9094814c4d&t=&sk=blue&tm=dark&plp=r&plw=280&plh=&tb=Teste&tbbg=&w=920&h=360&debug=true' async></script>
    <% } else if(type_player == "smartplayerh") { %>
    <script src='/javascripts/player.js?c=business&d=custom&p=00d24b737eb3be1f10f9af9094814c4d&t=&sk=blue&tm=dark&plp=bh&plw=&plh=&tb=Teste&tbbg=&w=840&h=600&debug=true'></script>
    <% } else if(type_player == "smarttags") { %>
    <script src="/javascripts/player.js?p=442a96c90430a04a2f204a3460a6f23e&c=&d=360p&t=alimentacao,apps,arquitetura&sk=red&tm=dark&plp=r&plw=280&plh=&tb=&tbbg=&w=920&h=360"></script>
    <% } else if(type_player == "youtubeid") { %>
    <script src='http://staging-player.sambaads.com/javascripts/player.js?m=_2lIldEuX3c&p=00d24b737eb3be1f10f9af9094814c4d&sk=blue&tm=light&tb=&tbbg=&w=640&h=360&debug=true'></script>
    <% } else if(type_player == "custom") { %>
    <iframe id="sambaads_0" width="940" height="360" src="//staging-v2-player.sambaads.com/iframe/e7a0e7ece4bf9e68a0656c09ce1479a0?plid=m22lCYS6&t=&sk=blue&tm=dark&plp=&plw=&plh=&ct=&tb=&tbbg=&tbfs=&org=&w=940&h=360&rfr=http%3A%2F%2Flocal-player.sambaads.com%2Fteste%2Fplaylist" frameborder="0" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    <% } else if(type_player == "dynamic") { %>
        <script src='/javascripts/player.js'></script>

        <script type='text/javascript'>
            document.addEventListener("DOMContentLoaded", function(){

                //smartPlayer
                sambaads.appendPlayer("player1", {
                    c:'automoveis',
                    d:'custom',
                    p:'8d32994d37ba5d2b16b8bf8b538bb514',
                    t:'webmotors',
                    sk:'red',
                    tm:'dark',
                    plp:'bh',
                    plw:'',
                    plh:'',
                    tb:'CONFIRA%20OS%20V%C3%8DDEOS%20DO%20WEBMOTORS%3A',
                    tbbg:'f52c2c',
                    w:630,
                    h:480.375
                });

                //single Player
                sambaads.appendPlayer("player2", {
                    m:46754,
                    p:'8d32994d37ba5d2b16b8bf8b538bb514',
                    sk:'blue',
                    w:840,
                    h:472.5
                });

            }, false);

        </script>

        <div id="player1"></div>
        <div id="player2"></div>

    <% } else if(type_player == "jwp6") { %>
    <script src="//jwpsrv.com/library/RMtQ+OM0EeK_lyIACqoQEQ.js" ></script>
        <div id="container">Loading video player...</div>

        <script type='text/javascript'>
            jwplayer("container").setup({

            width: 640,
            height: 360,
            file: "http://pvbps-sambavideos.akamaized.net/account/259/21/2016-05-14/video/5882e627be9196904780b3c477344bb5/vYY8iMFe-raw20160514-23932-3zz8ei_240p.mp4",
            primary: 'flash',
            advertising: {
                client: 'vast',
                //tag: 'http://ad4.liverail.com/?LR_PUBLISHER_ID=152191&LR_SCHEMA=vast2-vpaid'
            },

            });

            jwplayer("container").onBeforePlay(function(evt){
                jwplayer("container").playAd('http://ad4.liverail.com/?LR_PUBLISHER_ID=152191&LR_SCHEMA=vast2-vpaid');
            });
        </script>
    <% } else if(type_player == "jwp7") { %>
        <script src="//ssl.p.jwpcdn.com/player/v/7.5.1/jwplayer.js"></script>
        <div id="container">Loading video player...</div>

        <script type='text/javascript'>
            jwplayer.key="fg2E6RxmRfFIhFDYCJYLPglvuybnkF6v0sjOSA";
            jwplayer("container").setup({

            width: 640,
            height: 360,
            file: "https://pvbps-sambavideos.akamaized.net/account/259/21/2016-05-14/video/5882e627be9196904780b3c477344bb5/vYY8iMFe-raw20160514-23932-3zz8ei_240p.mp4",
            advertising: {
                client:'googima',
                vpaidmode: 'enabled'
            },

            });

            jwplayer("container").on("beforePlay",function(evt){

                jwplayer("container").playAd('https://local-vpaid.sambaads.com/vast/adselector.xml');

            });
        </script>
    <% } %>

    <script type="text/javascript">
             window.onload = function () {
                var loadTime = window.performance.timing.domContentLoadedEventEnd-window.performance.timing.navigationStart;
                console.log('Page load time is '+ loadTime);
            }
    </script>

</body>
