.jw-icon {
    font-family: 'jw-icons';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
    font-variant: normal;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -moz-osx-font-smoothing: grayscale;
}
.jw-skin-sambaads .jw-background-color {
    background: linear-gradient(to bottom, #323b4c, #2f3847 50%, #323b4c 100%);
}
.jw-skin-sambaads .jw-controlbar {
    background: rgba(24, 35, 53, 0.8);
}
.jw-skin-sambaads .jw-text {
    color: #fff;
}
.jw-skin-sambaads .jw-tooltip-title {
    color: #fff;
}
.jw-skin-sambaads .jw-knob {
    color: #fff;
}
.jw-skin-sambaads .jw-button-color {
    color: #fff;
}
.jw-skin-sambaads .jw-button-color:hover {
    color: #139ed5;
}
.jw-skin-sambaads .jw-toggle {
    color: #139ed5;
}
.jw-skin-sambaads .jw-toggle.jw-off {
    color: #fff;
}
.jw-skin-sambaads .jw-option {
    color: #fff;
}
.jw-skin-sambaads .jw-option.jw-active-option {
    color: #139ed5;
}
.jw-skin-sambaads .jw-icon-display {
    color: #fff;
}
.jw-skin-sambaads .jw-display-icon-container {
    border-radius: .5em;
}
.jw-skin-sambaads .jw-display-icon-container:hover {
    background: #139ed5;
}
.jw-skin-sambaads .jw-display-icon-container:hover .jw-icon-display {
    color: #fff;
}
.jw-skin-sambaads .jw-rail {
    background: linear-gradient(to bottom, #323b4c, #2f3847 50%, #323b4c 100%);
}
.jw-skin-sambaads .jw-buffer {
    background: linear-gradient(to bottom, #5e6575, #565e6b 50%, #5e6575 100%);
}
.jw-skin-sambaads .jw-progress {
    background: linear-gradient(to bottom, #15b2f0, #149bd1 50%, #15b2f0 100%);
}
.jw-skin-sambaads .jw-slider-horizontal {
    background: rgba(24, 35, 53, 0.8);
}
.jw-skin-sambaads .jw-slider-horizontal .jw-knob {
    margin-left: -0.325em;
}
.jw-skin-sambaads .jw-slider-vertical .jw-knob {
    margin-bottom: -0.325em;
}
.jw-skin-sambaads .jw-time-tip,
.jw-skin-sambaads .jw-volume-tip,
.jw-skin-sambaads .jw-menu {
    background: rgba(80, 88, 99, 0.9);
    border: 0;
    padding: .5em;
}
.jw-skin-sambaads .jw-skip {
    background: rgba(24, 35, 53, 0.8);
    padding: .5em;
}
.jw-skin-sambaads .jw-skip .jw-skip-icon {
    color: #fff;
}
.jw-skin-sambaads .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-sambaads .jw-skip.jw-skippable:hover .jw-text {
    color: #139ed5;
}
.jw-skin-sambaads .jw-time-tip .jw-text,
.jw-skin-sambaads .jw-dock-button .jw-text {
    color: #bbb;
}
.jw-skin-sambaads .jw-time-tip {
    bottom: 1em;
}
.jw-skin-sambaads .jw-dock-button {
    background: linear-gradient(to bottom, #323b4c, #2f3847 50%, #323b4c 100%);
    border-radius: .5em;
}
.jw-skin-sambaads .jw-dock-button:hover {
    background: #139ed5;
}
.jw-skin-sambaads .jw-playlist-container {
    padding: 0;
}
.jw-skin-sambaads .jw-icon-inline,
.jw-skin-sambaads .jw-icon-tooltip,
.jw-skin-sambaads .jw-text-elapsed,
.jw-skin-sambaads .jw-text-duration {
    padding: 0 .25em;
}
.jw-skin-sambaads .jw-controlbar {
    display: inline-block;
    width: 96%;
    max-width: 50em;
    margin: 0 auto;
    bottom: .7em;
    left: 2%;
    right: 2%;
}
.jw-skin-sambaads.jw-flag-audio-player .jw-controlbar {
    bottom: 0;
}
.jw-skin-sambaads .jw-controlbar {
    border-radius: .3em;
}
.jw-skin-sambaads .jw-playlist-container {
    left: -42%;
    overflow: hidden;
    bottom: .2em;
}
.jw-skin-sambaads .jw-playlist-container .jw-option {
    border-bottom: 1px solid rgba(24, 35, 53, 0.8);
}
.jw-skin-sambaads .jw-playlist-container .jw-option:hover,
.jw-skin-sambaads .jw-playlist-container .jw-option.jw-active-option {
    background-color: rgba(24, 35, 53, 0.8);
    color: #139ed5;
}
.jw-skin-sambaads .jw-playlist-container::-webkit-scrollbar-track {
    background-color: #222c37;
}
.jw-skin-sambaads .jw-playlist-container::-webkit-scrollbar {
    width: 2px;
    border: 10px solid rgba(24, 35, 53, 0.8);
    border-radius: .3em;
}
.jw-skin-sambaads .jw-playlist-container::-webkit-scrollbar-thumb {
    background-color: #fff;
}
.jw-skin-sambaads .jw-tooltip-title {
    border-bottom: 1px solid rgba(24, 35, 53, 0.8);
    background-color: rgba(24, 35, 53, 0.8);
}
.jw-skin-sambaads .jw-slider-horizontal .jw-rail,
.jw-skin-sambaads .jw-slider-vertical .jw-rail,
.jw-skin-sambaads .jw-slider-horizontal .jw-progress,
.jw-skin-sambaads .jw-slider-vertical .jw-progress,
.jw-skin-sambaads .jw-slider-horizontal .jw-buffer,
.jw-skin-sambaads .jw-slider-vertical .jw-buffer {
    border-radius: .5em;
}
.jw-skin-sambaads .jw-slider-horizontal .jw-knob,
.jw-skin-sambaads .jw-slider-vertical .jw-knob {
    background-color: #fff;
    width: .7em;
    height: .7em;
    border-radius: 50%;
}
.jw-skin-sambaads .jw-slider-horizontal {
    background: transparent;
}
.jw-skin-sambaads .jw-slider-horizontal .jw-rail,
.jw-skin-sambaads .jw-slider-horizontal .jw-progress,
.jw-skin-sambaads .jw-slider-horizontal .jw-buffer {
    height: .3em;
}
.jw-skin-sambaads .jw-slider-horizontal .jw-cue {
    top: .04999999999999999em;
    background-color: #fff;
    width: .2em;
    height: .2em;
    border-radius: 1em;
}
.jw-skin-sambaads .jw-slider-horizontal .jw-knob {
    top: -0.19999999999999998em;
}
.jw-skin-sambaads .jw-slider-vertical .jw-rail,
.jw-skin-sambaads .jw-slider-vertical .jw-progress {
    width: .3em;
}
.jw-skin-sambaads .jw-slider-vertical .jw-rail {
    background: linear-gradient(to right, #323b4c, #2f3847 50%, #323b4c 100%);
}
.jw-skin-sambaads .jw-slider-vertical .jw-progress {
    background: linear-gradient(to right, #15b2f0, #149bd1 50%, #15b2f0 100%);
}
.jw-skin-sambaads .jw-time-tip,
.jw-skin-sambaads .jw-volume-tip,
.jw-skin-sambaads .jw-menu,
.jw-skin-sambaads .jw-skip {
    border-radius: .3em;
}
.jw-skin-sambaads .jw-volume-tip,
.jw-skin-sambaads .jw-menu {
    bottom: .2em;
}

.jw-skin-sambaads .jw-controlbar {
    height: 42px;
}

/* Cutomizations  */

.jw-skin-sambaads .jw-icon-inline {
    height: 42px;
    line-height: 42px;
}

.jw-skin-sambaads .jw-slider-horizontal .jw-rail,
.jw-skin-sambaads .jw-slider-horizontal .jw-progress,
.jw-skin-sambaads .jw-slider-horizontal .jw-buffer {
    height: 6px;
}

.jw-skin-sambaads .jw-slider-vertical .jw-rail,
.jw-skin-sambaads .jw-slider-vertical .jw-progress {
    width: 6px;
}

.jw-skin-sambaads .jw-slider-horizontal .jw-knob,
.jw-skin-sambaads .jw-slider-vertical .jw-knob {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #02c3df;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.jw-skin-sambaads .jw-slider-vertical .jw-knob {
    width: 12px;
    height: 12px;
    box-shadow: inset 0px 0px 0px 3px #fff;
}

.jw-skin-sambaads .jw-controlbar-center-group {
    padding-left: 8px;
    padding-right: 8px;
}

.jw-skin-sambaads .jw-slider-horizontal .jw-knob {
    top: -4px;
}

.jw-skin-sambaads .jw-controlbar .jw-overlay,
.jw-skin-sambaads .jw-overlay:before,
.jw-skin-sambaads .jw-volume-tip {
    left: 0;
}

.jw-skin-sambaads .jw-volume-tip,
.jw-skin-sambaads .jw-time-tip,
.jw-skin-sambaads .jw-menu {
    background-color: rgba(0,0,0,.85);
    color: #fff;
    bottom: 24px;
}

.jw-skin-sambaads .jw-volume-tip {
    bottom: 11px;
}

.jw-skin-sambaads .jw-controlbar {
    background-color: rgba(0,0,0,.6);
}

.jw-skin-sambaads .jw-rail {
    background: #666;
}

.jw-skin-sambaads .jw-buffer,
.jw-skin-sambaads .jw-slider-vertical .jw-rail {
    background: #949494;
}

.jw-skin-sambaads .jw-time-tip .jw-text,
.jw-skin-sambaads .jw-dock-button .jw-text {
    color: #fff;
}

.jw-skin-sambaads .jw-time-tip {
    font-weight: bold;
}

.jw-skin-sambaads .jw-time-tip:before,
.jw-skin-sambaads .jw-slider-volume:before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: rgba(0,0,0,.85);
    transform: rotate(132deg);
    bottom: -3px;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
}

.jw-skin-sambaads .jw-icon-fullscreen:before {
    content: '';
    width: 24px;
    height: 16px;
    border: 2px #fff solid;
    display: inline-block;
}

.jw-skin-sambaads .jw-icon-fullscreen:hover:before {
    border-color: #02c3df;
}

.jw-skin-sambaads .jw-text-elapsed,
.jw-text-duration {
    font-size: 11px;
    font-weight: bold;
    color: #c2c2c2;
}

.jw-skin-sambaads .jw-display-icon-container {
    display: none;
}

.jw-skin-sambaads .jw-icon-volume:before {
    content: '';
    width: 22px;
    height: 16px;
    display: inline-block;
    background-image: url('/images/icon-volume.png');
    background-repeat: no-repeat;
    background-position: 50% left;
}

.jw-skin-sambaads .jw-icon-volume.jw-off:before {
    content: '';
    background-image: url('/images/icon-volume-mute.png');
}

.jw-skin-sambaads .jw-icon-volume.jw-open:before {
    content: '';
    background-image: url('/images/icon-volume-active.png');
}

.jw-skin-sambaads .jw-icon-volume.jw-open.jw-off:before {
    content: '';
    background-image: url('/images/icon-volume-mute-active.png');
}
