<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <title>Página de Vídeos</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    
    <!-- CSS -->
    <link href="css/widget_pagina_videos.css" rel="stylesheet">

	 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


   <script type="text/javascript" language="javascript" src="js/jquery.dotdotdot.js"></script>
   <link rel="stylesheet" href="css/colorbox.css" />
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
		<script src="js/jquery.colorbox.js"></script>
		<script>
			$(document).ready(function(){
			
			$("#titulo_assista_tambem1, #titulo_assista_tambem2, #titulo_assista_tambem3, #titulo_assista_tambem4, #titulo_assista_tambem5, #titulo_assista_tambem6").dotdotdot({
					watch: 'false'
				});
				
				$(".iframe").colorbox({iframe:true, width:640, height:620, scrolling:false});
								//Example of preserving a JavaScript event for inline calls.
								
								
				
								
				
			});
		</script>

   
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
 

 
  </head>
  
  <body>
  
  	<div class="container">
  
  		<div id="header_video_principal" class="row">	
  		
  			<div class="col-xs-4"></div>
  		
  			<div id="logo" class="col-xs-4">
  			
  				<img class="img-responsive" src="images/logo.png" alt="logo samba" />
  			
  			</div> <!-- LOGO -->
  			
  			<div class="col-xs-4"></div>
  			
  		
  		</div> <!-- HEADER ROW-->	
  		
  		
  		
  		<div id="video_container" class="row">
  		
  		
  			<div id="video_principal" class="row col-xs-12">
  			
  				<img class="img-responsive" src="images/video_principal.png" alt="thumb do video" />
  			
  			</div> <!-- THUMB VIDEO PRINCIPAL -->  		
  			
  			
  			<div id="nome_produtor" class="row col-xs-12">
  			
  				nzn
  			
  			</div> <!-- NOME PRODUTOR -->
  			
  			<div id="titulo_video_principal" class="row col-xs-12">
  			
  				Veja o que o zoom insano da câmera nikon coolpix p900 é capaz de fazer - Tecmundo
  			
  			</div> <!-- TITULO VIDEO PRINCIPAL -->
  			
  			<div id="descricao_video_principal" class="row col-xs-12">
  			
  				Esse monstrinho é capaz de aproximar a imagem 83 vezes e fazer qualquer um se sentir um verdadeiro espião. Confira o que o superzoom dessa câmera é capaz de fazer. Análise da Nikon COOLPIX P900: http://www.tecmundo.com.br/nikon-coolpix-p900/84337-veja-o-zoom-camera-nikon-coolpix-p900-capaz-fazer-video.htm  
  			
  			</div> <!-- TITULO VIDEO PRINCIPAL -->
  			
  			<div id="titulo_tags" class="col-xs-6">
  			
  				TAGS -
  				
  					<span class="tags">
  					
  						ciência, tecnologia, universo, exploração
  					
  					</span>
  			
  			</div> <!-- NOME PRODUTOR -->
  			
  			<div id="titulo_compartilhar" class="col-xs-6">
  			
  				COMPARTILHAR -
  				
  				<span class="social_thumbs">
  				
  					<a href="#"><img src="images/facebook.png" /></a>
  					
  					<a href="#"><img src="images/twitter.png" /></a>
  					
  					<a href="#"><img src="images/pinterest.png" /></a>
  					
  					<a href="#"><img src="images/whatsapp.png" /></a>
  				
  				</span>
  			
  			</div> <!-- NOME PRODUTOR -->

  			
  			
  			
  		
  		</div> <!-- VIDEO CONTAINER -->
  		
  		
  		
  		<div id="divisor" class="row col-xs-12">
  			
  			<img class="img-responsive" src="images/divisor.png" alt="3 cores divisor" />
  			
  		</div> <!-- DIVISOR ROW-->
  			
  			
  			
  		<div id="assista_tambem" class="row col-xs-12">
  		
  			Assista também
  		
  		</div> <!-- ASSISTA TAMBEM ROW -->
  		
  		
  		<div id="1_linha_assista_tambem" class="row">      <!-- ------ 1 LINHA ------ -->
  		  			
  		
	  			<div style="padding:0 10px 10px 10px;" id="1_video_1_linha" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  						
  					<a href="#">
  					
  						<img class="img-responsive" src="images/video1.png" alt="video1" />
  						
  					</a>
  					
  					<div id="produtor_assista_tambem">
  					
  						Canaltech
  					
  					</div>	
  				
  					<div id="titulo_assista_tambem1">
  					
  						Apple Music vs Spotify vs Deezer vs Rdio: qual é o melhor? [Comparativo]
  						
  					</div> <!-- TITULO ASSISTA TAMBEM -->
  					
  				  			
  				</div> <!-- 1 VIDEO 1 LINHA -->
  				
  				
  				
  				<div style="padding:0 10px 10px 10px;" id="1_video_1_linha" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  						
  					<a href="#">
  					
  						<img class="img-responsive" src="images/video2.png" alt="video2" />
  						
  					</a>	
  					
  					<div id="produtor_assista_tambem">
  					
  						Canaltech
  					
  					</div>	

  				
  					<div id="titulo_assista_tambem2">
  					
  						Hoje no TecMundo (10/08) — Xperia Z3+, apps de Android no Windows 10 e teclado para o S6 edge Plus
  						
  					</div> <!-- TITULO ASSISTA TAMBEM -->
  					
  				  			
  				</div> <!-- 2 VIDEO 1 LINHA -->
  				
  				
  				
  				<div style="padding:0 10px 10px 10px;" id="3_video_1_linha" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  						
  					<a href="#">
  					
  						<img class="img-responsive" src="images/video3.png" alt="video3" />
  						
  					</a>
  					
  					<div id="produtor_assista_tambem">
  					
  						Canaltech
  					
  					</div>	
  				
  					<div id="titulo_assista_tambem3">
  					
  						5 programas gratuitos para editar vídeos - Baixaki 
  						
  					</div> <!-- TITULO ASSISTA TAMBEM -->
  					
  				  			
  				</div> <!-- 3 VIDEO 1 LINHA -->

 		  		
  		</div> <!-- ROW -->
  		
  		
  		<!-- ------ 1 LINHA ------ -->
  		
  		
  		
  		<hr class="divisor_videos"></hr>
  		
  		
  		
  		
  		
  		<div id="2_linha_assista_tambem" class="row"> <!-- ------ 2 LINHA ------ -->
  		  			
  		
	  			<div style="padding:0 10px 10px 10px;" id="1_video_2_linha" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  						
  					<a href="#">
  					
  						<img class="img-responsive" src="images/video4.png" alt="video4" />
  						
  					</a>
  					
  					<div id="produtor_assista_tambem">
  					
  						Canaltech
  					
  					</div>	
  				
  					<div id="titulo_assista_tambem4">
  					
  						Como saber se pessoas estão roubando seu Wi-Fi pelo smartphone 
  						
  					</div> <!-- TITULO ASSISTA TAMBEM -->
  					
  				  			
  				</div> <!-- 1 VIDEO 2 LINHA -->
  				
  				
  				
  				<div style="padding:0 10px 10px 10px;" id="2_video_2_linha" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  						
  					<a href="#">
  					
  						<img class="img-responsive" src="images/video5.png" alt="video5" />
  						
  					</a>
  					
  					<div id="produtor_assista_tambem">
  					
  						Canaltech
  					
  					</div>	
  				
  					<div id="titulo_assista_tambem5">
  					
   						Conheça 2 melhores alternativas grátis de Netflix 
  						
  					</div> <!-- TITULO ASSISTA TAMBEM -->
  					
  				  			
  				</div> <!-- 2 VIDEO 2 LINHA -->
  				
  				
  				
  				<div style="padding:0 10px 10px 10px;" id="3_video_2_linha" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  						
  					<a href="#">
  					
  						<img class="img-responsive" src="images/video6.png" alt="video6" />
  						
  					</a>
  					
  					<div id="produtor_assista_tambem">
  					
  						Canaltech
  					
  					</div>	
  				
  					<div id="titulo_assista_tambem6">
  					
  						Como restaurar conversas apagadas do WhatsApp 
  					
  						
  					</div> <!-- TITULO ASSISTA TAMBEM -->
  					
  				  			
  				</div> <!-- 3 VIDEO 2 LINHA -->

 	  		
  		</div> <!-- ROW -->
  		
  		
  		<!-- ------ 2 LINHA ------ -->	
  		
  		
  		
  	
  	</div> <!-- CONTAINER -->
  	
  	
  	
  	<div id="footer" class="container-fluid">
  		
  		<div id="footer_content" class="row col-xs-12"> 
  		
  		Copyright © 2012-2015 SambaAds. Todos os direitos reservados.<br />
  		
  			<a class="footer_links" href="http://www.sambaads.com.br" target="_blank">www.sambaads.com.br</a> - 
  			
  			<a class="footer_links" href="http://www.facebook.com/SambaAds" target="_blank">fb.com/SambaAds</a> - 
  			
  			<a class="footer_links" href="http://www.twitter.com/sambaads" target="_blank">twitter.com/sambaads</a>
  		
  		</div> <!-- FOOTER CONTENT -->

  		
  		
  			
  		
  	</div> <!-- FOOTER -->
  	
  	
  	
  	
  	
  
  </body>
  
  
  
</html>

