<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div style="height: 150px;">
  	<script src='/javascripts/widget.js?p=c249ab949f5df63739094a8f027fc930&c=busin&tm=dark&w=840&target=blank&debug=true'></script>
	</div>
	<br/>
  <div style="height: 250px;">
  	<script src='/javascripts/widget.js?p=c249ab949f5df63739094a8f027fc930&c=busin&tm=dark&target=self&debug=true'></script>
  </div>
	<br/>
  <div style="height: 250px;width: 300px;">
  	<script src='/javascripts/widget.js?p=c249ab949f5df63739094a8f027fc930&c=busin&tm=dark&size=1&target=self&debug=true'></script>
  </div>
</body>