<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
	<div style="height: 180px;">
  	<script src='/javascripts/widget.js?p=c249ab949f5df63739094a8f027fc930&c=busin&tm=dark&w=840&target=blank&debug=true'></script>
	</div>
	<br/>
  <div style="height: 350px;">
  	<script src='/javascripts/widget.js?p=c249ab949f5df63739094a8f027fc930&c=busin&tm=dark&target=self&debug=true'></script>
  </div>
  <br/>
  <div style="height: 250px;width: 300px;">
    <script src='/javascripts/widget.js?p=c249ab949f5df63739094a8f027fc930&c=busin&tm=dark&size=1&target=blank&debug=true'></script>
  </div>
	<br/>
  <div>
  	<script src='/javascripts/widget.js?p=c249ab949f5df63739094a8f027fc930&c=busin&tm=dark&size=1&target=blank&debug=true&w=960&h=400'></script>
  </div>
</body>
