.footer-time {
    font-size: 13px;
    color: rgba(183, 183, 183, .94);
    line-height: 45px;

    span {
    	font-size: 14px;
    	font-weight: bold;
    	color: rgba(94, 94, 94, .94);
    }
}

.playlist-product {
    margin: 0;
    padding: 15px 0;
    border-bottom: solid 1px rgba(151, 151, 151, .17);

    &:last-child {
        border: none;
    }
}

.playlist-ad-horizontal {
    .playlist-products-area {
        text-align: center;
        padding-top: 10px;
    }

    .playlist-product {
        width: auto;
        height: 100%;
        display: inline-block;
        margin: 0 35px 0 0;
        float: none;
        vertical-align: top;

        &:last-child {
            margin-right: 0;
        }
    }

    .playlist-footer {
        height: 35px;
        border: none;
        top: 0;
        right: 50px;
        left: auto;
        bottom: auto;
        padding: 0;
    }

    .footer-time {
        line-height: 35px;
    }
}
